/* FIXMEc: this whole file is work in progress */

/* This is hackish, wee need a general policy for admin interface in mobile */
body.path_comments_manager.mobile #content
{
	padding-left: 0;
	padding-right: 0;	
}

#notifications
{
	position: absolute;
	right: .5em;
	top: .5em;
	padding: .4em;
	background-color: rgba(255,255,255,.3);
	text-decoration: none;
}
#remarkForm
{
	display: flex;
}
#remarkForm label
{
	display: inline-block;
}
#remarkForm .form-item
{
	margin-top: 0;
}
#edit-name
{
	width: 10em;
	margin-right: 1em;
}
#edit-remark
{
	width: 40em;
}


.manager-comments-list
{
}

.manager-comments-list>div:nth-child(odd) 
{
	/* FIXMEc: grid borders don't seem to be easy to handle */
    border-top: 1px solid rgba(0,0,0,.5);
}

@media all and (min-width: 700px)
{
	.manager-comments-list
	{
		display: grid;
		grid-column-gap: 1em;
		grid-template-columns: 1fr 2fr;
	}

	.manager-comments-list>div:nth-child(even) 
	{
		border-top: 1px solid rgba(0,0,0,.5);
	}

	.comment-info
	{
		padding-top: 1em;
		max-width: 600px;
	}
	.comment-info>span
	{
		display: block;
		margin-bottom: 1em;
		margin-right: 0;
	}

	.manager-comments-list .comment,
	.manager-comments-list #comment-form
	{
		max-width: 800px;
	}
}

.comment-info>span
{
	margin-right: 1em;
}

#accept-rate
{
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle;
}
#filter-field-description
{
	background-color: rgba(255,255,255,.3);
	padding: .3em;
}
#full-user-agent
{
	font-size: 70%;
}

#whois-entry
{
	height: 5em;
	overflow-y: auto;
	background-color: #eee;
	resize: both;
}


.manager-comments-list .comment-reply
{
	display: none;
}



/**********************************/
/* comments-notifications-manager */
/**********************************/

#is-subscribed.hidden
{
	display: none;
}

#subscriptions .this-browser
{
	background-color: yellow;
}

#subscriptions .night
{
	display: inline-block;
}

#subscriptions .error
{
	border: 2px solid red;
}
