/*  message specific css, dcitem css is in dcomponent-common.css  */

.message
{ 
    background-color: @@mix($mailColor,'#f5f5f5',30);
}

.message.auto-hidden
{
	background-color: #dcc;
}

.message.importance-trash
{
	background-color: #888;
}

/************ Title line **************/

.message .title-line 
{
    background-color: #855;
	@@linear_gradient("to bottom",@@lighten('#844',20),'0%','#844','30%');
}

.message.finished .title-line a
{
	color: #eee;
}

.message.auto-hidden .title-line 
{
	background-color: #dcc;
	@@linear_gradient("to bottom",@@lighten('#977',20),'0%','#977','30%');
}

.message.importance-trash .title-line
{
	background-color: #555;
	@@linear_gradient("to bottom",@@lighten('#555',20),'0%','#555','30%');
}

.message .title-line .thread-link
{
	display: inline-block;
	float: right;
	margin-right: .5em;	
	font-size: 14px;
	vertical-align: middle;
}

.message .title-line .thread-link:hover
{
	color: #fcc;
}

.message .title-line .reply
{
	margin-right: 2px;
	padding: 0 .3em;
	background-color: rgba(255,255,255,.2);
}

.message .title-line .reply-options
{
	margin-right: .5em;
}

.reply-options .dropdown-button
{
	background-color: rgba(255,255,255,.2);
	padding-left: .2em;
	border: none;
	border-radius: 0;
}

.dropdown.reply-options ul
{
	font-size: 16px;
	font-weight: normal;
}
.dropdown.reply-options ul a
{
	color: black !important; /* override when message is finished */
}
.dropdown.reply-options ul a:hover
{
	color: #a00;
	text-decoration: none;
}


.message .title-line .reply::before 
{
	text-align: center;
	content: '';
	width: @@sprite_width('reply.svg')px;
	height: @@sprite_height('reply.svg')px;
	background-image: url(@@sprite('reply.svg'));
	background-position: @@sprite_bgpos('reply.svg');
	display: inline-block;
	vertical-align: middle;
}

.message .title-line .reply:hover,
.message .title-line .dropdown-button:hover
{
	background-color: rgba(0,0,0,.1);
}

/************ Other top lines **************/

.message .tofrom>a
{
    padding-left: 1em;
    padding-right: 1em;
}
.message .tofrom .from
{
	display: inline-block;
	max-width: 40em;
	overflow: hidden;
    white-space: nowrap;
	vertical-align: middle;
	text-overflow: ellipsis;	
	text-decoration: none;
	color: black;
}

.message .tofrom .from:hover
{
	color: #440;
	background-color: rgba(255,255,0,.3);
}

.message .tofrom .address-part
{
	color: #666;
}

.message .tofrom .right-arrow::before
{
	content: '';
	display: inline-block;
	background-image: url(@@sprite('right-arrow.svg'));
	background-position: @@sprite_bgpos('right-arrow.svg');
	width: @@sprite_width('right-arrow.svg')px;
	height: @@sprite_height('right-arrow.svg')px;	
}

.message .tofrom .to
{
	display: inline-block;
	max-width: 30em;
	overflow: hidden;
    white-space: nowrap;
	vertical-align: middle;
	text-overflow: ellipsis;	
	padding-left: .5em;
}

.nbrecipients
{
	padding: 0 .3em;
}

.nbrecipients:hover
{
	background-color: rgba(255,255,0,.5);
}

.message .list-link
{
	margin-left: .5em;
	color: black;
	text-decoration: none;
	padding: .1em;
	font-weight: bold;
	background-color: rgba(255,255,255,.7);
}

.message .list-link:hover
{
	background-color: rgba(255,255,0,.5);
}

.message .attachments-label::before 
{
	text-align: center;
	content: '';
	width: @@sprite_width('attachment.svg')px;
	height: @@sprite_height('attachment.svg')px;
	background-image: url(@@sprite('attachment.svg'));
	background-position: @@sprite_bgpos('attachment.svg');
	display: inline-block;
	vertical-align: middle;
}

.message .infoPart.attachment
{ 
    margin-right: .2em;
    white-space: nowrap;
	display: inline-block;
	text-decoration: none;
	color: black;
	background-color: rgba(255,255,255,.6);
	padding: .1em;
}

.message .infoPart.attachment:hover
{
	background-color: rgba(255,255,0,.6);
}

.message .simple-type-other
{
}

.message .simple-type-other::before
{
	content: '?';
	display: inline-block;
	vertical-align: middle;	
	background-color: white;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	color: #777;
}

.message .simple-type-pdf
{
	display: inline-block;
	vertical-align: middle;	
	width: @@sprite_width('pdf-24.png')px;
	height: @@sprite_height('pdf-24.png')px;
	background-image: url(@@sprite('pdf-24.png'));
	background-position: @@sprite_bgpos('pdf-24.png');
}

.message .simple-type-office
{
	display: inline-block;
	vertical-align: middle;	
	width: @@sprite_width('office.svg')px;
	height: @@sprite_height('office.svg')px;
	background-image: url(@@sprite('office.svg'));
	background-position: @@sprite_bgpos('office.svg');
}

.message .simple-type-image
{
	display: inline-block;
	vertical-align: middle;	
	width: @@sprite_width('image-icon.svg')px;
	height: @@sprite_height('image-icon.svg')px;
	background-image: url(@@sprite('image-icon.svg'));
	background-position: @@sprite_bgpos('image-icon.svg');
}


.message .tmInfo .tm_mail_import
{
	border: 1px solid #aaa;
}

.message .tmInfo .tm_event
{
	border: 1px solid #aaa;
}

/************ Importance dropdown menu **************/

.message .importance .dropdown-button
{ 
	padding-left: 0;
	padding-right: .2em;
	height: 24px;
	line-height: 24px;
}
.message .importance .dropdown-button::before
{
	vertical-align: top;
	margin-right: .1em;
}


.icon-direct::before,
.icon-direct-red::before,
.icon-ordinary::before,
.icon-ordinary-red::before,
.icon-trash::before
{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(@@sprite('star.svg'));
}

.icon-direct::before
{
	width: @@sprite_width('star.svg')px;
	height: @@sprite_height('star.svg')px;
	background-position: @@sprite_bgpos('star.svg');	
}

.icon-direct.active::before
{
	width: @@sprite_width('star.svg#2')px;
	height: @@sprite_height('star.svg#2')px;
	background-position: @@sprite_bgpos('star.svg#2');	
}

.icon-ordinary::before
{
	width: @@sprite_width('star-border.svg')px;
	height: @@sprite_height('star-border.svg')px;
	background-position: @@sprite_bgpos('star-border.svg');	
}

.icon-ordinary.active::before
{
	width: @@sprite_width('star-border.svg#2')px;
	height: @@sprite_height('star-border.svg#2')px;
	background-position: @@sprite_bgpos('star-border.svg#2');	
}

.icon-trash::before
{
	width: @@sprite_width('trash.svg')px;
	height: @@sprite_height('trash.svg')px;
	background-position: @@sprite_bgpos('trash.svg');	
}

.icon-trash.active::before
{
	width: @@sprite_width('trash.svg#2')px;
	height: @@sprite_height('trash.svg#2')px;
	background-position: @@sprite_bgpos('trash.svg#2');	
}

.importance-menu li
{
	padding: 0 .5em;
	line-height: 34px;
	cursor: pointer;
}
.importance-menu li:hover
{
	color: #a00;
	background-color: #fffff2;
}

.importance-menu li[data-importance=trash]
{
	border-top: 1px solid black;
	padding-left: .1em;
}

.importance-menu li[data-importance=trash] ~ li[data-importance=trash]
{
	border-top: none;
}

.advanced-rule
{
	border-top: 1px solid black;
	font-size: 80%;
	font-style: italic;
}

/************ Other left info **************/

.message .infoPart.date
{
    white-space: nowrap;	
}

.message .infoPart.date.old-date
{
    background-color: #f7b;
}

.message .infoPart.date>.short
{
	margin-top: .2em;
	color: #aaa;
}

.message .infoPart.date>.strange
{
	color: #caa;
}

.message .privacy
{
	cursor: pointer;
}
.message .privacy:hover
{
	background-color: rgba(255,255,0,.5);
}
