
body .htmleditor-area-right
{
	background-color: #f0f0ee;
}

.htmleditor-area-right .docconvert-info 
{
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

body .htmleditor-area-right .docconvert-info>h2
{ 
	position: relative;
	left: 0 !important;
}

#wrap .htmleditor-area-right .docconvert-info.searching-for-docs>h2
{
	background-color: yellow;
}

body .htmleditor-area-right .docconvert-info>h2>span
{
    display: block;
	font-weight: bold;	
	margin-left: 36px;
	margin-right:  18px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

body .htmleditor-area-right .docconvert-info.noDocs>h2>span
{
	margin-left: 0px;
}

.htmleditor-area-right .docconvert-info>h2>a
{ 
	position: absolute;
    width: 10px;
    height: 18px;
    border: 1px solid #5f5;
    background-color: #efe;
    padding: 0px 3px;
	left: 0;
	top: 0;
	cursor: pointer;
}


#wrap .htmleditor-area-right .docconvert-info>h2>a:hover
{ 
    background-color: yellow;
}

.htmleditor-area-right .docconvert-info>h2>a.docconvert-refresh
{
	background-color: transparent;
	border: none;
	background-image: url(refresh-small.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	left: auto;
	right: 0px;
	padding:0;
}


.htmleditor-area-right .docconvert-info.noDocs>h2>a.docconvert-cycle,
.htmleditor-area-right .docconvert-info.noDocs>h2>a.docconvert-cycle:hover
{ 
	display: none;
}

.htmleditor-area-right .docconvert-info>h2>a.docconvert-cycle.next
{ 
	left: 18px;
}

#wrap .htmleditor-area-right a
{
	text-decoration: none;
}

/* ****************  file upload  ********************* */

body .htmleditor-area-right p.docconvert-upload
{
	text-align: center;
	border-top: 1px solid #aaa;
	margin-left: 0 !important;
	white-space: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
	padding-left:  4px;
	padding-right: 4px;
}

body .htmleditor-area-right .docconvert-upload-button-wrap
{
	height: 0px;
	width: 0px; 
	overflow:hidden;
}

#docconvert-upload-form
{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

/* selenium cannot interact with hidden form */
body.selenium-testing #docconvert-upload-form
{
	width: auto;
	height: auto;
	overflow: visible;
}

body.IE .htmleditor-area-right #docconvert-upload-button-wrap
{
	overflow: hidden;
	position: relative;
}

body.IE .htmleditor-area-right #docconvert-upload-file
{
	/* border: 2px solid red; */
	border: 1px outset black;
	position: absolute;
	right: 0px;
	top: 0;
	height: 30px;
	z-index: 2;
	text-align: right;
	font-weight: bold;
	font-size: 17px;
	border: 4px solid #cbf;
	width: auto;
	height: auto;
	overflow: visible;
}

body .htmleditor-area-right .docconvert-upload-button
{
	display: block;
	padding: 5px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	background-color: #edf;
	border-radius: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #400;
    -moz-box-shadow:	2px 2px 2px 2px #aaa;
	-webkit-box-shadow: 2px 2px 2px 2px #aaa;
	box-shadow:			2px 2px 2px 2px #aaa;	

	background: -webkit-gradient(linear, left top, left bottom, from(#edf), to(#cbf));
	background: -moz-linear-gradient(top,  #edf,  #cbf);
}
body.IE .htmleditor-area-right .docconvert-upload-button
{
	position: relative;
	z-index: 3;
	text-align: left;	
	font-size: 12px;
	background-color: #eee;
	border: none;
	width: 100px;
	box-shadow:	none;	
	border-radius: 0;
	cursor: auto;
	margin-left: 0;
	margin-right: 0;
}
body.IE .htmleditor-area-right .docconvert-upload-button:hover
{
	background-color: transparent;
}

body .htmleditor-area-right .docconvert-upload-button:hover
{
	background-color: #f5f5ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5ff), to(#edf));
	background: -moz-linear-gradient(top,  #f5f5ff,  #edf);
}

#wrap .htmleditor-area-right .docconvert-upload div
{
	white-space: normal;
}

/* **************** current doc menu   ********************* */

#wrap .htmleditor-area-right .docconvert-current-doc-menu h3
{
	position: static;
	overflow: hidden;
	background-color: #e3e3e3;
	white-space: nowrap !important;
	color: black;
	max-height: 1.2em;
	font-size: 15px;
	padding: 2px 5px;
	text-overflow: ellipsis;
}

.docconvert-current-doc-menu li.waiting a,
.docconvert-current-doc-menu li.waiting a:hover 
{ 
    background-image: url("waiting.gif");
}
