.docconvert-doc-button:hover
{ 
    background-color: #fa0;
}

.docconvert-doc-button
{ 
    cursor: pointer;
    border: 1px solid black;
    background-color: yellow;
    display: inline-block;
    width: 11px;
    height: 11px;
    /*background: -moz-radial-gradient(yellow,red);*/
}

.docconvert-current .docconvert-doc-button
{ 
    border: 2px solid red;
    width: 9px;
    height: 9px;
    /*background: -moz-radial-gradient(red,yellow);*/
}


span.docconvert-doc
{ 
    background-color: #ffa;
}

/* Bugs?
body.wym_iframe a.docconvert-doc.docconvert-current
{ 
    color: red;
    padding: 20px;
    font-weight: bold;
}
*/