
#select-pdf-outer
{
	margin-right: 500px;
	min-height: 500px;
}

#document-info
{
	width: 500px;
}
#document-info h2
{
	font-size: 15px;
	margin-bottom: .1em;
}


#pdf-info
{
	display: none;
	margin-top: 0;
	border: 1px solid #ccc;
	overflow-y: auto;
	resize: both;
	background-color: #eee;
	width: 600px;
	font-size: 14x;
}

#pdf-info-open
{
	cursor: pointer;
}

#select-pdf-outer .help
{
	color: #666;
	font-style: italic;
}

.pdf-page-wrap
{
	position: relative;
	margin-bottom: 10px;
	border: 2px solid black;
	opacity: 0.2;
}

.pdf-page
{
	max-width: 700px;
	height: auto;
}

.pdf-page-wrap.active
{
	opacity: 1;
	/* Firefox opacity bug. If only opacity change, not redrawn. */
	border: 1px solid $paletteFg;
}

#rectangle
{
	position: absolute;
	border: 2px solid red;
	width: 100px;
	height: 100px;
	top: 0;
	background-color: rgba(200, 54, 54, 0.2);
	cursor: move;
	min-height: 40px;
	min-width: 40px;
}
#text-output-box
{
	position: fixed;
	z-index: 10;
	width: 500px;
	padding: .3em;
	right:5px;
	top:40px;
	border: 1px solid green;
	background-color: $paletteBg;
	box-shadow: 2px 2px 4px rgba(0,0,0,.7);
}
#text-output-box>h3
{
	margin-top: 0;
	margin-bottom: .1em;
}

#text-output
{
	width: 99%;
	width: calc(100% - .6em);
	height: 400px;
	font-size: 10px;
	border: 1px inset #aaa;
	box-shadow: inset .2em .2em .5em #aaa;
	padding-top: 5px;
	padding-left: 5px;
}

#select-pdf-outer .ui-resizable-nw,
#select-pdf-outer .ui-resizable-ne,
#select-pdf-outer .ui-resizable-sw,
#select-pdf-outer .ui-resizable-se
{
	height: 15px;
	width: 15px;
	background-color: #a00;
}

#select-pdf-outer .ui-resizable-nw
{
	top: 0;
	left: 0;
}
#select-pdf-outer .ui-resizable-sw
{
	left: 0;
	bottom: 0;
}
#select-pdf-outer .ui-resizable-ne
{
	right: 0;
	top: 0;
}
#select-pdf-outer .ui-resizable-se
{
	right: 0;
	bottom: 0;
}

#wait
{
	display: inline-block;
	background-color: yellow;
	padding-left: 40px;
	height: 32px;
	background-image: url(/demosphere/css/images/waiting.gif);
	background-repeat: no-repeat;
}


@media all and (max-width: 1140px)
{
	#select-pdf-outer
	{
		margin-right: 350px;
	}
	#text-output-box
	{
		width: 350px;
	}
}


@media all and (max-height: 530px)
{
	#text-output
	{
		height: 200px;
	}
}
