html
{
	width: 100%;
}

body
{
	margin: 0;
	padding: 0;
	background-color: $paletteBg;
}

a
{
	color: $paletteFg;
}


/* ***************** site top */

#siteName
{
	color: $paletteFg;
	margin: 0;
	font-family: sans-serif;
	font-size: 1.3em;
	margin-right: 42px; /* menu 32px + margin */
}

#siteName a
{
	display: block;
	text-decoration: none;
	color: inherit;
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: 4px;
}

@media all and (max-width: 400px)
{
#siteName.long-name
{
	font-size: 1.1em;
}
}

#announcement
{
	background-color: $paletteBg2;
	color: $paletteText;
	border: 1px solid $paletteFg;
	text-align: center;
	padding: 3px 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin: .2em 0;
	margin-top: 0;
}

#announcement h2,
#announcement h3,
#announcement h4,
#announcement p
{
	margin: .2em 0;
}

#featured-events ul
{
	list-style-type: none;	
	margin: 0;
	padding-left: 0px;
}

#featured-events li
{
	border: 3px solid $paletteFg;
	border-radius: 10px;
	background-color: white;
	margin-bottom: .2em;
}

#featured-events h2
{
	margin: 0;
	font-weight: normal;
	font-size: inherit;
}
#featured-events a
{
	text-decoration: none;
	color: black;
	display: block;
	padding: 1px 4px;
}

.ftitle
{
	display: block;
}

.ffeatured
{
	display: none;
}


#autoLimitMoreEventsUrl a
{
	color: $paletteFg;
	font-size: 150%;
	text-align: center;
	display: block;
}
