
body
{
	overflow: hidden;
}

#header
{
	min-height: 0;
}

#wrap #siteName
{
	height: 100px;
}
#main
{ 
	width: 100%;
	position: static;
	top: 0px;
	padding: 0;
	margin: 0;
	overflow: visible;
}
#main #topicSelect
{
	position: absolute;
	top: 10px;
}
#primary-links
{
	display: none;
}
#wrap #secondary-links
{
	display: none;
}

#badBrowser
{ 
	position:absolute;
	width: 50%;
	background-color: white;
	z-index: 100;
}
#badBrowser div
{ 
	background-color: #aaa;
	text-align: right;
}
#badBrowser div a
{  
	font-size: 16px;
	padding: .2em;
}

#badBrowser.IE6
{ 
	display: block !important; /* broken ?*/
}

#tmpJsDebug{ display:none; }
#topicSelect
{ 
	top: 10px;
}

#slogan
{ 
	font-size: 12px;
}

#locationShortcuts ul
{
	margin: 0;
}

#locationShortcuts li
{  
	display: inline;
	list-style-type: none;
	border: 1px solid black;
	padding: 0 .5em;
	margin: 0 .5em;
}

#locationShortcuts li:hover
{
	background-color: #ff0;
}


#bookmarkMapButton
{ 
	margin-left: 5px;
	display: block;
	width: 138px;  
	height: 24px; 
	line-height: 24px; 
	color: white;
	background-color: @@lighten($paletteFg,10);
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	text-decoration: none;
	white-space: nowrap;
	text-align: center;
}
#dot
{
	float: left;
	color: red;
	font-size: 50px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 5px;
	width: 15px;
}

#bookmarkMapButton:hover
{
	color: red;
}

#bookmarkMapDialog
{
	font-size: 13px;
}
#bookmarkMapDialog p
{
	text-align: center;
}
.ui-dialog-titlebar
{
	padding: .1em;
}

.ui-dialog-title
{
	font-size: 13px;
	padding: .2em;
}
.ui-dialog-content
{
	padding:0;
	padding-left:.5em;
}

#dateSelWrapper
{ 
	position: relative;
	height: 32px;
}
#dateSelBox
{
	left: 15px; 
	padding:0;
	margin:0;
	width: 970px;
	height: 30px;
	position: absolute;
	background-color: #eee;
	border: 1px solid #aaa;
	overflow: hidden;
}
#dateTextEnd,
#dateTextStart
{
	box-sizing: border-box;
	width: 150px;
}
.dateRangeButton
{ 
	position: absolute;
	width: 15px;  
	height: 15px; 
	line-height: 15px; 
	background-color: #eee;
	text-align: center;
	color: #808080;
	cursor: pointer;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dateRangeButton span
{ 
	vertical-align: top;
	display: inline-block;
	width: 7px;  
	height: 12px; 	
	padding-right: 3px;
	padding-left:  2px;
	padding-bottom:  1px;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	border: 1px solid #808080;
	border-radius: 4px;
}
.dateRangeButton:hover
{ 
	background-color: white;
	color: red;
}

#dateSelBoxLeftTop { left:0px; }
#dateSelBoxLeftBot { left:0px;bottom:0px; }
#dateSelBoxRightTop{ right:0px; }
#dateSelBoxRightBot{ right:0px;bottom:0px; }


#dateSlider
{
	padding:0;
	margin:0;
	border-right: 8px solid #eee;
	border-left:  8px solid #eee;
	width: 150px;
	height: 27px;

	cursor: move;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
	z-index: 2;
}

#dateSliderInner
{
	width: 100%;
	height: 27px;
	box-shadow: 0px 1px 1px #222;
	background-color: @@lighten($paletteFg,30);
	@@linear_gradient("to bottom",@@lighten($paletteFg,40),'0%',@@lighten($paletteFg,10),'100%');
}

#dateSlider:hover #dateSliderInner
{
	background-color: @@lighten($paletteFg,50);
	@@linear_gradient("to bottom",@@lighten($paletteFg,60),'0%',@@lighten($paletteFg,30),'100%');
}

#dateSlider.moving #dateSliderInner
{ 
	background-color: #ff0;
	@@linear_gradient("to bottom",'#ffa','0%','#ff0','100%');
}

body.busy #dateSlider #dateSliderInner
{ 
	background-color: #666;
	@@linear_gradient("to bottom",'#888','0%',@@darken('#888',30),'100%');
}

#dateSelBox .ui-resizable-handle
{
}

#dateSelBox .ui-resizable-handle.ui-resizable-e
{
	width: 8px; 
	height: 29px;
	right: -8px; 
	background-image: url(@@svg_to_png('images/map-slider-handle.svg')) ;
}
#dateSelBox .ui-resizable-handle.ui-resizable-w
{
	width: 8px;   
	height: 29px;
	left: -8px;
	background-image: url(@@svg_to_png('images/map-slider-handle.svg',['png_fname'=>'map-slider-handle-left.png','flop'=>true])) ;
}


#dateSlider h3 { text-align: center; margin: 0; }
#tickmarks
{
	position: absolute;
	padding:0;
	margin:0;
	height:100%;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.tickmark
{
	padding:0;
	margin:0;
	list-style:none;
	position: absolute;
	height:100%;
	width: 1px;
	border-left: 1px solid #555;
	/*z-index: 10;*/
	line-height:60%;
}
.tickmark.monday
{ 
	border-color: red;
}
.tickmark.month
{ 
	border-width: 2px;
	border-color: black;
}

.tickmark .label
{
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:11px;
	position: relative;
	top :3px;
	left:2px;
	position: relative;
	z-index: 1;
}


#map .event
{
	position: absolute;
}

.event.shifting
{
	transition: top .5s,left .5s;
}

#map .eventmarker
{
	font-size:14px;
	white-space: nowrap;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}



<?foreach($topicColors as $tid=>$color){?>
#infoWindowDiv.t$tid
{
	border-color: $color;
}
<?}?>

#map .eventmarker:hover
{
	background-color: #ffa;
}

#map .eventmarker:hover>span>i:nth-child(1)::before
{
	border-right: 1px solid black;
	border-top:   1px solid black;
	box-shadow: 1px -1px 0 #ffa,
                2px -2px 0 #ffa,
				3px -3px 0 #ffa,
				4px -4px 0 #ffa,
				5px -5px 0 #ffa;
}
#map .eventmarker:hover>span>i:nth-child(2)::before
{
	border-left: 1px solid black;
	border-top:  1px solid black;
	box-shadow: -1px -1px 0 #ffa,
                -2px -2px 0 #ffa,
				-3px -3px 0 #ffa,
				-4px -4px 0 #ffa,
				-5px -5px 0 #ffa;
}


#map .eventmarker a
{
	text-decoration: none;
	color: black;
}
#map .eventmarker a:hover
{
	text-decoration: underline;
	color: blue;
}

#infoWindowDiv
{
	font-size: 12px;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	border-left: 4px solid white;
	padding-left: .7em;
}

#iwDateTime
{
	font-size: 12px;
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}

#iwTitle
{
	margin-top: .1em;
	margin-bottom: .1em;
	width: 200px;
}

#iwTitle strong
{
	font-weight: normal;
}

#mapOptionCol
{ 
	width: 150px;
	position: absolute;
	right: 0px;
	font-size: 14px;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

#dynamicInfo
{ 
	margin: .5em;
	padding: .2em;
	background-color: white;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;

}
#optionTitle
{ 
	text-align: center;
	color: #500;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
#optionTitle:hover
{ 
	color: #a53;
}
#optionList
{
	list-style:none;
	margin:0;
	padding:0;
	padding-left: 5px;
}
#optionList li 
{ 
	margin-bottom: 12px;
	text-align: center;
	color: white;
	padding: 0;
	width: 138px;  
	height: 40px; 
	background-color: $paletteFg;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);	
	overflow: hidden;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#optionList li:hover
{ 
	background-color: @@lighten($paletteFg,10);
}
#optionList h4
{
	margin: 0;
	margin-top: 2px;
	margin-bottom: 4px;
}

.value-line
{
	margin: 0;
	color: #666;
}
.value-line span
{
	display: inline-block;
	width: 20px;
	height: 8px;
	background-color: #666;
	margin-right: 20px;
}
.option_0 .value-line
{
	color: white;
	font-weight: bold;
}
.option_1 .value-line span:first-child
{
	background-color: #0f0;
}
.option_2 .value-line span:nth-child(2)
{
	background-color: red;
}

#helpButton
{ 
	margin-left: 5px;
	margin-top: 15px;
	text-align: center;
}
#helpButton a
{ 
	display: block;
	width: 138px;
	height: 24px;
	line-height: 24px;
	background-color: #0014b6;
	color: white;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow:    2px 2px 2px rgba(0,0,0,.5);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	box-shadow:         2px 2px 2px rgba(0,0,0,.5);
	text-decoration: none;
}
#helpButton a:hover
{ 
	background-color: #031eff;
	color: #faa;
}

#mapComments
{ 
	margin-left: 5px;
	margin-top: 15px;
	text-align: center;
    
}
#map
{ 
	padding:0;
	margin:0;
}
h2
{
	font-size: 13px;
}
