/* style for displaying an event  */

.eventHead
{ 
	margin-top: 0px;
	color: $paletteFg;  
	margin-bottom: 9px;
	top: -2px;
	position: relative;
	z-index: 4;
	width: 958px;
	display: table;
}
.mobile .eventHead
{
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
}

.eventHead.hasSecondaryLinks
{ 
	margin-top: 0px;
}
.eventHead a
{ 
	color: #666;  
	text-decoration: none;
}
.eventHead a:hover
{ 
	text-decoration: underline;
}

#eventFrontpageTitle
{
	font-size: 13px;
	margin: 0;
	margin: .8em 0;
	line-height: 10px;
	z-index: 3;
	position: relative;
	color: #777;
	width: 576px;
}

#warnEventNotPublished
{
	width: 576px;
	text-align: center;
	font-weight: bold;
	background-color: @@darken('#fdd',10);
}

.mobile #warnEventNotPublished
{
	width: auto;
}

#priceForContributors
{
	width: 576px;
	text-align: center;
	background-color: #ffa;
}

/* *************** */

.statusBar
{
	display:none;
}

.eventAdmin .statusBar
{
	display:block;
	position: absolute;
	right: 0px;
	top: 40px;
	width: 9px;
	height: 150px;
	z-index: 2;
}

/* *************** */

.nattention-level-1 .statusBar
{
	border-top: 15px solid #f88;
}

.nattention-level-1 .statusBar
{
	border-top: 15px solid red;
}

.status-created .statusBar
{
	background-color: #fee;
}
.status-waiting .statusBar
{
	background-color: #ddf;
}
.status-incomplete .statusBar,
.status-incomplete .statusBar
{
	background-color: #dfd;
	border: 1px solid #9f9;
}
.status-published .statusBar
{
/*    background-color: #6f6;*/
}
.status-rejected .statusBar
{
	background-color: #aaa;
}
.status-rejected-shown .statusBar
{
	background-color: #ccc;
}
.status-trash .statusBar
{
	background-color: black;
}

/* *************** */

#eventMain
{ 
	position: relative;
} 

#eventMain .moderator-info.is-empty
{
	display: none;
}

#eventMain .moderator-info
{
	color: #b00;
	text-align: center;
	width: 576px;
	background-color: #eee;
	position: relative;
}
#eventMain .moderator-info .small-title
{
	float: left;
	font-size: 11px;
	color: #777;
}

.auto-title-message
{
	color: #aaa;
}

.auto-title-message a
{
	display: inline-block;
	height: 14px;
    width: 14px;
	/* hack to make wrench image lighter */
	background: linear-gradient(rgba(238,238,238,.7),rgba(238,238,238,.7)), 
	url("/files/images/svg-to-png/config.cache-660ca.png");
}

#eventMain .needs-attention
{
	color: red;
	font-style: italic;
}

#incomplete-message
{
	width: 576px;
    background-color: #FCF8E3;
    color: #8A6D3B;
    border: 1px solid #FAEBCC;
    border-radius: 4px;
	display: relative;
	box-shadow: 1px 1px 1px #aaa;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	padding: 0 .5em;
	position: relative;
	left: -6px;
	margin-top: 6px;
	margin-bottom: 17px;
}
.mobile #incomplete-message
{
	left: 0px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.mobile #incomplete-message
{
	width: auto;
}

#incomplete-message p
{
	margin-top: .6em;
	margin-bottom: .6em;
}

#incomplete-icon
{
	font-size: 20px;
	float: left;
	margin-top: 5px;
	margin-right: 8px;
	margin-left: 0px;
	color: @@darken('#8A6D3B',10);
}

.demosphere-sources
{
	opacity: .75;
	font-size: 13px;
}
.mobile .demosphere-sources 
{
	white-space: nowrap;
	overflow: hidden;
}

.demosphere-sources::before
{
	content: '';
	display: block;
	width: 15%;
	height: 6px;
	border-top: 1px solid #ccc;	
}

#miscEventInfo
{ 
	margin-left: 0px;
	color: #666;
	font-size: 14px;
	display: table-row;
}
.mobile #miscEventInfo
{
	display: block;
}

.teaser #miscEventInfo
{ 
	position: absolute;
	right: 0;
	top: 0;
}

#miscEventInfoLeft
{
	display: table-cell;
}
.IE6 #miscEventInfoLeft,
.IE7 #miscEventInfoLeft
{
	display: block;
	width: 540px;
	min-height: 30px;
	height:auto !important;
	height: 30px;
}
.mobile #miscEventInfoLeft
{
	display: none;
}

.dayrank{ margin-right: 15px; }
.dayrank span
{ 
	background-image: url(@@sprite('page-dayrank1.svg','page.png'));
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: -2px;
}
.mobile .dayrank span
{ 
	background-image: url(@@sprite('page-dayrank1.svg','mobile.png'));
}
.dayrank1 span
{
	width: @@sprite_width('page-dayrank1.svg')px;
	height: @@sprite_height('page-dayrank1.svg')px;
	background-position: @@sprite_bgpos('page-dayrank1.svg','page.png');
}
.mobile .dayrank1 span
{
	background-position: @@sprite_bgpos('page-dayrank1.svg','mobile.png');
}
.dayrank2 span
{
	width: @@sprite_width('page-dayrank2.svg')px;
	height: @@sprite_height('page-dayrank2.svg')px;
	background-position: @@sprite_bgpos('page-dayrank2.svg','page.png');
}
.mobile .dayrank2 span
{
	background-position: @@sprite_bgpos('page-dayrank2.svg','mobile.png');
}

.incomplete { margin-right: 15px; }
.incomplete span
{ 
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 3px;
	width: @@sprite_width('page-incomplete.svg')px;
	height: @@sprite_height('page-incomplete.svg')px;
	background-image: url(@@sprite('page-incomplete.svg','page.png'));
	background-position: @@sprite_bgpos('page-incomplete.svg','page.png');
}
.mobile .incomplete span
{ 
	background-image: url(@@sprite('page-incomplete.svg','mobile.png'));
	background-position: @@sprite_bgpos('page-incomplete.svg','mobile.png');
}

#topics
{ 
	margin-right: 15px;
}
#topics.no-topics
{
	display: none;
}
.vocab
{ 
	margin-right: 15px;
	white-space: nowrap;
}

#actionBoxWrapper
{
	display: table-cell;
	text-align: right;
}
.mobile #actionBoxWrapper
{
	display: block;
}

#actionBox
{ 
	display: inline-block;
	position: relative;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background-color: #e6e6e6;
	vertical-align: middle;
	white-space: nowrap;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mobile #actionBox
{
	display: block;
	text-align: center;
	padding: 0;
	border-radius: 0;
}


.teaser #actionBox
{ 
	display: none;
}

#actionBox a 
{ 
}
.actionBoxLinkText
{
}
@media all and (max-width: 500px)
{
.mobile .nb-boxes-5 .actionBoxLinkText
{
	display: none;
}
}

@media all and (max-width: 420px)
{
.mobile .nb-boxes-4 .actionBoxLinkText
{
	display: none;
}
}

@media all and (max-width: 340px)
{
.mobile .nb-boxes-3 .actionBoxLinkText
{
	display: none;
}
}

.actionBoxAction
{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	position: relative;
	padding-left:  12px;
	padding-right: 12px;
}
.mobile .actionBoxAction
{
	padding: 0 6px;
}

.actionBoxIcon
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

#commentLink .actionBoxIcon
{
	width: @@sprite_width('actionbox-comment.svg','page.png')px;
	height: @@sprite_height('actionbox-comment.svg','page.png')px;
	background-position: @@sprite_bgpos('actionbox-comment.svg','page.png');
	background-image: url(@@sprite('actionbox-comment.svg','page.png'));
}

.mobile #commentLink .actionBoxIcon
{
	width: @@sprite_width('actionbox-comment.svg','mobile.png')px;
	height: @@sprite_height('actionbox-comment.svg','mobile.png')px;
	background-position: @@sprite_bgpos('actionbox-comment.svg','mobile.png');
	background-image: url(@@sprite('actionbox-comment.svg','mobile.png'));
}

#carpoolLink .actionBoxIcon
{
	width: @@sprite_width('carpool.svg','page.png')px;
	height: @@sprite_height('carpool.svg','page.png')px;
	background-position: @@sprite_bgpos('carpool.svg','page.png');
	background-image: url(@@sprite('carpool.svg','page.png'));
}

.mobile #carpoolLink .actionBoxIcon
{
	width: @@sprite_width('carpool.svg','mobile.png')px;
	height: @@sprite_height('carpool.svg','mobile.png')px;
	background-position: @@sprite_bgpos('carpool.svg','mobile.png');
	background-image: url(@@sprite('carpool.svg','mobile.png'));
}

#carpoolLink.hilight-action,
.actionBoxAction:hover
{
	background-color: #ffe;
	color: black;
	box-shadow: inset 0 0 2px 3px #e6e6e6;
	border-top:    2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	height: 26px;
	line-height: 26px;
}

#carpoolLink.hilight-action
{
	background-color: #ff3;
	color: black;
	box-shadow: inset 0 0 2px 3px #e6e6e6;
	border-top:    2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	height: 26px;
	line-height: 26px;
}

#carpoolLink.hilight-action .actionBoxIcon
{
	background-position: @@sprite_bgpos('carpool.svg#2','page.png');
	background-image: url(@@sprite('carpool.svg','page.png'));
}
.mobile #carpoolLink.hilight-action .actionBoxIcon
{
	background-position: @@sprite_bgpos('carpool.svg#2','mobile.png');
	background-image: url(@@sprite('carpool.svg','mobile.png'));
}
#carpoolPopup
{
	position: absolute;
	left: -120px;
	width: 300px;
	box-shadow: 2px 2px 1px #aaa;
	background-color: white;
	border: 1px solid #555;
	color: black;
	text-align: left;
	padding: .3em;
	overflow: hidden;
	z-index: 5;
	line-height: 15px;
}

#carpoolPopup table
{
	width: 300px;
	max-width: 300px;
	overflow: hidden;
	border-collapse: collapse;
}
#carpoolPopup tr:hover
{
	background-color: #ff0;
}
#carpoolPopup td
{
	vertical-align: middle;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: .2em .3em;
	max-width: 160px;
}

#carpoolPopup .carpool-driver
{
	background-image: url(@@svg_to_png('images/carpool.svg',
									   ['png_fname'=>'carpool-small.png',
									   'resize'=>'15x15']));
	background-repeat: no-repeat;
	background-position: center center;
	width: 25px;
	min-width: 25px;
	height: 14px;
}

#carpoolPopup .is-passenger .carpool-driver
{
	background-image: url(@@svg_to_png('images/carpool-passenger.svg',
									   ['png_fname'=>'carpool-passenger-small.png',
									   'resize'=>'15x15']));
}

#carpool-more
{
	text-align: center;
	font-style: italic;
}
#carpool-more:hover
{
	background-color: yellow;
}


#send-by-email-link .actionBoxIcon
{
	width: @@sprite_width('actionbox-email.svg','page.png')px;
	height: @@sprite_height('actionbox-email.svg','page.png')px;
	background-image: url(@@sprite('actionbox-email.svg','page.png'));
	background-position: @@sprite_bgpos('actionbox-email.svg','page.png');
	margin-bottom: 8px;
}
.mobile #send-by-email-link .actionBoxIcon
{
	width: @@sprite_width('actionbox-email.svg','mobile.png')px;
	height: @@sprite_height('actionbox-email.svg','mobile.png')px;
	background-image: url(@@sprite('actionbox-email.svg','mobile.png'));
	background-position: @@sprite_bgpos('actionbox-email.svg','mobile.png');
}
#iCalLink .actionBoxIcon
{
	width: @@sprite_width('actionbox-ical.svg','page.png')px;
	height: @@sprite_height('actionbox-ical.svg','page.png')px;
	background-image: url(@@sprite('actionbox-ical.svg','page.png'));
	background-position: @@sprite_bgpos('actionbox-ical.svg','page.png');
}
.mobile #iCalLink .actionBoxIcon
{
	width: @@sprite_width('actionbox-ical.svg','mobile.png')px;
	height: @@sprite_height('actionbox-ical.svg','mobile.png')px;
	background-image: url(@@sprite('actionbox-ical.svg','mobile.png'));
	background-position: @@sprite_bgpos('actionbox-ical.svg','mobile.png');
}

#demosShareLink .actionBoxIcon
{
	width: @@sprite_width('actionbox-share.svg','page.png')px;
	height: @@sprite_height('actionbox-share.svg','page.png')px;
	background-image: url(@@sprite('actionbox-share.svg','page.png'));
	background-position: @@sprite_bgpos('actionbox-share.svg','page.png');
}

.mobile #demosShareLink .actionBoxIcon
{
	width: @@sprite_width('actionbox-share.svg','mobile.png')px;
	height: @@sprite_height('actionbox-share.svg','mobile.png')px;
	background-image: url(@@sprite('actionbox-share.svg','mobile.png'));
	background-position: @@sprite_bgpos('actionbox-share.svg','mobile.png');
}

#demosShhareLinkPopup
{
	position: absolute;
	background-color: white;
	border: 1px solid  $paletteFg;
	padding: 1em;
	padding-bottom: .2em;
	z-index: 10;
	-moz-box-shadow: #555 5px 4px 5px;
	-webkit-box-shadow: #555 5px 4px 5px;
	box-shadow: #555 5px 4px 5px;
	right: 0px;
	top:30px;
}
#demosShareLinkPopupPrivacy
{
	margin: 0;
	font-size: 12px;
	color: #aaa;
	border-top: 1px solid #aaa;
}

/* *** */

#dateWrap
{
	width: 680px; /* overflows on the right, but hidden by address */
	margin-bottom: 21px; /* room for first textNav */
}

.has-fp-title #dateWrap
{
	margin-bottom: 10px;
}

.mobile #dateWrap
{
	width: auto;
	margin-bottom: 0;
}

#date
{
	background-color: #f2f2f2;
	color: black;
	height: 33px;
	margin: 0;
	margin-left: 30px;
	padding: 0px;
	font-size: 20px;
	border-top: 1px solid #8f8f8f;
	border-bottom: 1px solid #8f8f8f;
	border-left: 1px solid #8f8f8f;
	-moz-border-radius-topright:30px;
	-moz-border-radius-bottomleft:30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-left: 22px;
}
.mobile #date
{
	font-size: medium;
	height: auto;
	margin: 0;
	padding: .2em 0;
	text-align: center;
	border-radius: 0;
	border-left: none;
	border-right: none;	
	border-bottom: none;
}

.mobile #dateLeft
{
	display: none;
}

#dateContents
{
	position: relative;
	top: 5px;
}
.mobile #dateContents
{
	position: static;
}
.mobile #event .time
{
	white-space: nowrap;
}



/* */

#demosevent-form-button
{
	text-align: center;
}
#htmlView #demosevent-form-button a
{ 
	font-size: 27px;
	border: 1px solid #006000;
	padding: .1em .7em;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	font-style: normal;
	text-decoration: none;
	background-color: #008000;
	color: white;
	-moz-box-shadow: #555 5px 4px 5px;
	-webkit-box-shadow: #555 5px 4px 5px;
	box-shadow: #555 5px 4px 5px;
	background: -moz-linear-gradient(top, #afa 1%,#008000);  
	background: -webkit-gradient(linear, center top, center bottom, from(#afa), to(#008000));
}
#demosevent-form-button a:hover
{ 
	background-color: #00c000;
	background: -moz-linear-gradient(top, #afa 1%,#00c000);  
	background: -webkit-gradient(linear, center top, center bottom, from(#afa), to(#00c000));
}

.demosphere-source-link-top
{
	display:block;
	height: 0;
	position: absolute;
	overflow: hidden;
}

#demosphere-quick-email-subscribe-form label
{
	display: inline;
}
#demosphere-quick-email-subscribe-form .form-required
{
	display: none;
}
#demosphere-quick-email-subscribe-form #edit-email-wrapper
{
	display: inline;
}

#revision-label
{
	position: absolute;
	z-index: 3;
	left: 10px;
	padding-top: 4px;
	color: red;
	font-weight: bold;
}
