/* FIXMEc : need to adapt colors for all demosphere site palettes */

#comments
{ 
	width: 730px;
	margin-top: 30px;
	margin-left: 122px;
}

/***********************/
/* Comments section top */
/***********************/

#comments-top-text
{ 
	color: $paletteText;
}

/***********************/
/* comment */
/***********************/

.comment
{ 
	border-top: 1px solid @@mix($paletteFg,$paletteBg,50);
}


/***********************/
/* Comment top line */
/***********************/


/***********************/
/* Comment body */
/***********************/


/***********************/
/* Comment action line (buttons) */
/***********************/


/***********************/
/* Form */
/***********************/



