

.places h1
{
	color: $paletteFg;
	margin-top: .1em;
	margin-bottom: .5em;
}
.places .intro
{
	margin: 0;
	font-style: italic;
	color: #666;
}
.places #pager
{
	color: #444;
	font-size: 12px;
}
.places #pager select
{
	font-size: 12px !important;	
}

.places td
{
	padding-right: 1em;
}

.places td.title
{
	max-width: 600px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
