
#publish-form #event
{
	background-color: white;
}

#publish-form #comments
{
	display: none;
}

#publish-form .placeTopLeft span 
{
    background-color: white;
}

#donate-message
{
	display: none;
}

#donate-message .floatRight
{
	float: right;
}

/* ************************ Steps ******************* */

.step
{
	position: absolute;
	cursor: default;
	top: 6px;
	left: 0px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid $paletteText;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 28px;
	z-index: 10;
	-webkit-box-shadow:	2px 2px 2px #aaa;	
	box-shadow:	2px 2px 2px #aaa;	

/* http://www.colorzilla.com/gradient-editor/ */
<? $stepBg=@@lighten($paletteBg2,1); /* f3dec8=>f4e1cc, #ecd0b4, ddb58d*/
	$step2 =@@mix($paletteBg2,$paletteBg,70);
 ?>
background: $stepBg; /* Old browsers */
background: -moz-radial-gradient(5px 5px, ellipse cover,  #ffffff 0%, $stepBg 50%, $step2 51%, $paletteBg 100%); /* FF3.6+ */
background: -webkit-radial-gradient(5px 5px, ellipse cover,  #ffffff 0%,$stepBg 50%,$step2 51%,$paletteBg 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(5px 5px, ellipse cover,  #ffffff 0%,$stepBg 50%,$step2 51%,$paletteBg 100%); /* Opera 12+ */
background: -ms-radial-gradient(5px 5px, ellipse cover,  #ffffff 0%,$stepBg 50%,$step2 51%,$paletteBg 100%); /* IE10+ */
background: radial-gradient(ellipse at 5px 5px,  #ffffff 0%,$stepBg 50%,$step2 51%,$paletteBg 100%); /* W3C */

}
.step:hover
{	
	background: $stepBg;
}

#step-fields
{
	top: 52px;
}

.mobile #step-fields
{
	top: 0px;
}


#step-title
{
}

#step-info
{
}


/* ************************ topics  ******************* */

#miscEventInfoLeft #topics a.meditable option,
#miscEventInfoLeft #topics a:hover
{
	text-decoration: none;
}


.topic-already-selected
{
	display: none;
}

.topic-meditable-selectmenu-button
{
	font-size: 10px;
	padding: 0;
	padding-left: .1em;
}

.topic-meditable-selectmenu-button .ui-selectmenu-text
{
	text-overflow: clip;
}

.topic-meditable-selectmenu-menu
{
	font-size: 1em;
}
.topic-meditable-selectmenu-menu .ui-menu-item-wrapper
{
	padding: .1em .5em;
}

.topic-meditable-selectmenu-menu .ui-menu-item-wrapper::before
{
	display: inline-block;
	content: '';
	width: @@sprite_width('topic-chart.svg','mobile.png')px;
	height: @@sprite_height('topic-chart.svg','mobile.png')px;
	background-image: url(@@sprite('topic-chart.svg','mobile.png'));
	background-repeat: no-repeat;
	background-position: 10000px 10000px;
	vertical-align: middle;
	margin-right: .5em;	
}
<?foreach($topicIcons as $tid=>$name){?>
body .t$tid>.ui-menu-item-wrapper::before
{
	background-position: @@sprite_bgpos($name,'mobile.png');
}
<?}?>

.topic-meditable-selectmenu-menu .tchoose
{
	font-style: italic;
}

/* ************************ date/time  ******************* */

#dateContents .meditable.editing
{
	vertical-align: top;
}

#dateContents .meditable-input
{
	position: relative;
	top: -3px;
}

#dateContents .time
{
	min-width: 4ex;
}

#time-suggestions-button
{
	position: relative;
	top: -4px;
	font-size: 14px;
	width: 5em;
	padding: .2em;
}

#time-suggestions-menu .ui-menu-item
{
	display: inline;
}

#time-suggestions-menu .ui-menu-item:nth-child(2n+1):after
{
	content: "\A";
	white-space: pre;
}

#time-suggestions-menu .ui-menu-item-wrapper
{
	padding: 1px .5em;
	font-size: 16px;
	display: inline-block;
}

.mobile #time-suggestions-menu .ui-menu-item-wrapper
{
	font-size: 18px;
	display: inline-block;
	padding-top: .2em;
	padding-bottom: .2em;
}

/* ************************  place ******************* */
#place-erase
{
	font-size: 13px;
	background-color: white;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #f0f;
	border: 1px solid #f0f;
	padding: 2px 10px;	
	-webkit-box-shadow:	2px 2px 1px 1px #777;
	-moz-box-shadow:	2px 2px 1px 1px #777;
	box-shadow:	2px 2px 1px 1px #777;	
	cursor: pointer;
	position: absolute;
	right: 130px;
	top: 1px;
	z-index: 2;
}
#place-erase:hover
{
	background-color: #fee;
}

.place-search-menu li.ui-menu-item:first-child div
{
	color: green;
	font-weight: bold;
	background-image: url(@@file('images/document_add_24.png'));
	background-position: right;
	background-repeat: no-repeat;	
	padding-right: 24px;
}


.place .address-text
{
	min-height: 60px;
}

.place .address-text .meditable-placeholder
{
	font-size: 18px;
	font-family: Arial, Helvetica,Verdana,sans-serif;
	text-align: center;
	display: block;
	margin-top: 20px;
}

.city.meditable
{
	text-align: right;
	min-width: 100px;
}

.date .ui-datepicker-trigger
{
	position: absolute;
	left: 0px;
}
#ui-datepicker-div
{
	z-index: 20!important;/* avoid interference with other  */
	font-size: 14px;
}

.ui-autocomplete
{
	font-size: 14px;
	z-index: 11 !important;
}

#place-search
{
	margin-left: 60px;
	margin-top: 5px;
	display: block;
}

#wrap .error#place-search
{
	border: none;
}
.error #place-search-input
{
	border: 1px solid red;
}


#place-search-input
{
	vertical-align: top;
	width: 190px;
	border-width: 1px;
	padding: 8px 10px;

	-moz-box-shadow:    inset 0px 1px 4px 0px #aaa;
	-webkit-box-shadow: inset 0px 1px 4px 0px #aaa;
	box-shadow:			inset 0px 1px 4px 0px #aaa;	
}

#search-icon
{
	border-top: 1px solid transparent;
	vertical-align: top;
}
#place-search-error
{
	color: red;
	visibility: hidden;
	padding-right: 4px;
}
.error #place-search-error
{
	visibility: visible;
}

.ui-autocomplete.place-search-menu
{
	max-width: 100%;
	width : 350px;
	font-size: 12px;
}
.ui-autocomplete.place-search-menu li div
{
	line-height: 1.2;
}
.ui-autocomplete.place-search-menu li 
{
	margin-bottom: 4px;
}

/* ************************ body  ******************* */

#eventTitle .meditable-placeholder
{
	font-size: 18px;
	font-family: Arial, Helvetica,Verdana,sans-serif;
	text-align: center;
	display: block;
}

#eventTitle.moved-eventTitle
{
	width: 576px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: $paletteText;
	font-weight: bold;
	position: relative;
	left: -4px;	
	font-size: 19px;
	margin-top: 8px;
}

#htmlView
{
	min-height: 100px;
}
#htmlView.isClosing
{
	overflow: visible !important; /* Animate adds hidden, which clips un-indented h2 & h3 */
}
#htmlView>.textPart:first-child>*:first-child
{
	margin-top: 8px;
}


#htmlView .meditable-placeholder
{
	font-size: 18px;
	font-family: Arial, Helvetica,Verdana,sans-serif;
	text-align: center;
	display: block;
	margin-top: 30px;
}

#wrap #htmlView .mce-tinymce
{
	margin-right: 0px;
}

#htmlView .htmleditor-area-right
{
	position: absolute;
	top: 0px;
	right: -235px;
	width: 220px;
	border: 1px solid black;
	-moz-box-shadow:	3px 3px 2px 2px #aaa;
	-webkit-box-shadow: 3px 3px 2px 2px #aaa;
	box-shadow:			3px 3px 2px 2px #aaa;	
}

#body-close
{
	position: absolute;
	top:3px;
	right:3px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	font-family: Arial, Helvetica,Verdana,sans-serif;
	color: $paletteFg;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid $paletteFg;
	padding: 3px 3px;
	cursor: pointer;
	background-color: rgba(255,255,255,.5);
	box-shadow: 0 0 1px rgba(0,0,0,.4);
}
#body-close:hover
{
	background-color: yellow;
}



/* ************************ title ******************* */

#frontpage
{
	position: relative;
	margin-left: 0px;
	margin-top: 20px;
	padding-left: 40px;
	margin-right: 1px;
	background-color: @@mix($paletteBg,$paletteBg2,40);
	overflow: hidden;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.mobile #frontpage
{
	padding-left: 0;
}


#frontpage h2
{
	margin-bottom: 5px;
	margin-top: 10px;
}

.mobile #frontpage h2
{
	margin-left: 40px;
}


#title-length
{
	padding-left: 6px;
	color: red;
	position: absolute;
	white-space: nowrap;
	display: none;
	background-color: white;
	padding: .2em;
}

#title-length.show-msg
{
	display:inline;
}

#title-length-check
{
	display: none;
	position: absolute;
	font-size: 13px;
	font-weight: bold;
}

#frontpage .dcal
{
	margin-left: 20px;
}

.mobile #frontpage .dcal 
{
	margin-left: 0;
}

#frontpage h3.updated
{
	text-align: center;
}

.mobile #frontpage h3.updated
{
	font-size: 17px;
}
#frontpage .dcal .day
{
	margin-bottom: 20px;
}

#frontpage .dcal .c2>div
{
	font-weight: bold;
}

.mobile #frontpage .dcal .c2>div
{
	font-weight: normal;
}

#frontpage .dcal .c2>div>strong
{ 
	color: #990100;
}

.mobile #frontpage .dcal .c2>div>strong
{ 
	color: black;
}

#frontpage .dcal td.c2 input
{
	font-size: 13px;
	font-weight: bold;
}

/* ************************ information ******************* */

#information
{
	margin-top: 1em;
	padding: 10px 20px;
	padding-left: 40px;
	position: relative;
	margin-right: 1px;
	background-color: @@mix($paletteBg,$paletteBg2,40);
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.mobile #information 
{
	padding-left: 0;
	padding-right: 0;
}

#information-subtitle
{
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
}
#information input:invalid
{
	color: red;
}

#form-items
{
	display: table;
	margin-left: 20px;
}

.form-item
{
	display: table-row;
}
.form-item label
{
	font-weight: normal;
	display: table-cell;
	padding-top: 5px;
	padding-right: 10px;
	vertical-align: top;
}
.form-input
{
	padding-top: 5px;
	display: table-cell;
	vertical-align: top;
}
.form-input input,
.form-input textarea
{
	width : 600px;
	box-sizing: border-box;
}

#information.highlighted
{
	background-color: yellow;
}
#information h2
{
	margin: 0;
}
.mobile #information h2
{
	margin-left: 40px;
}
.mobile #information #information-subtitle
{
	white-space: nowrap;
}
.mobile #information #form-items,
.mobile #information .form-item,
.mobile #information label,
.mobile #information .form-input
{
	display: block;
}

.mobile #information #form-items
{
	margin-left: 0;
}

.mobile #information input,
.mobile #information textarea
{
	width: 100%;
}
.mobile #information #edit-contact
{
	width: 90%;
}

.publish-help
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	height: 20px;
	width: 20px;
	margin-left: 3px;
	margin-bottom: 2px;
	font-weight: bold;
	background-color: rgba(100, 100, 100, 0.1);
	color: rgba(100, 100, 100, 0.5);
	cursor: pointer;
}
.publish-help:hover
{
	background-color: #ecec75;
}

.publish-help-popup
{
	position: absolute;
	width: 400px;
	background-color: #ecec75;
	padding: 6px;
	top:0;
	left:0;
	box-shadow: 3px 3px 3px #333;
}

#bottom-text
{
	font-style: italic;
}

.hasPlaceholder
{
	color: #aaa;
}

/* ************************ Buttons ******************* */

#buttons-line
{
	font-size: 25px;
	text-align: right;
	width: auto;
}

#buttons-line.float
{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 500px;
	padding-top: 3px;
	padding-right: 0px;
	z-index: 10;
}


/* ************************ meditable customization  ******************* */

#wrap .error
{
	border: 2px solid red;
}

.meditable:hover
{
	background-color: yellow;
}

.meditable
{
	border: 1px solid transparent;
	min-width: 2em;
	min-height: 1em;
	cursor: pointer;
}

.meditable-hover .meditable,
.meditable-hover .editwrap
{
	border: 1px dashed black;
	-moz-border-image: url(@@file('images/walking-ants-border.gif')) 1 repeat;
	-webkit-border-image: url(@@file('images/walking-ants-border.gif')) 1 repeat;
	border-image: url(@@file('images/walking-ants-border.gif')) 1 repeat;
}

#wrap .highlight,
#wrap .highlightAll input,
#wrap .highlightAll textarea,
#wrap .highlightAll2 input,
#wrap .highlightAll2 textarea
{
	background-color: yellow;
	border: 1px dashed black;
	-moz-border-image: url(@@file('images/walking-ants-border.gif')) 1 repeat;
	-webkit-border-image: url(@@file('images/walking-ants-border.gif')) 1 repeat;
	border-image: url(@@file('images/walking-ants-border.gif')) 1 repeat;
}

/* Default, unhighlighted border is inset (2px). We need 2px to avoid moving everything */
#wrap .highlightAll input,
#wrap .highlightAll2 input,
#wrap .highlightAll textarea,
#wrap .highlightAll2 textarea
{
	border-width: 2px;
}
