
#file-list 
{
	border-collapse: collapse;
	border: 1px solid $paletteText;
}

#file-list tr
{
}

#file-list tr:nth-child(2n)
{
	background-color: @@darken(@@desaturate($paletteBg2,20),5);
}

#file-list td
{
	padding: .3em;
}

#file-list td.preview img
{
	max-width: 300px;
	max-height: 100px;
}

.dlib-form .form-item label
{
	display: inline-block;
	min-width: 12em;
}

#edit-add
{
	width: 15em;
}

.browse-images #edit-ok-wrapper
{
	display: none;
}

.description
{
	font-size: .85em;
	color: #333;
}
hr
{
	margin-top: 3em;
}

.browse-images #file-list
{
	margin-top: 2em;
}