

/************** menu bar ************/

.localhost #eventAdminMenubar
{  
	border-top: 5px solid #0f0;
}

#eventAdminMenubar
{ 
	position: relative;
	background-color: black;
	color: #ddd;
	font-size: 16px;
	text-align: center;
}

#eventAdminMenubar>ul
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
}

#eventAdminMenubar li
{
	list-style: none;
}

#eventAdminMenubar li.active
{
	background-color: #666;
	color: white;
}

#eventAdminMenubar a
{ 
	color: #ddd;
	text-decoration: none;
	/* needed in awstats view */
	font-size: 16px;
	/* needed in awstats view */
	font-family: Arial,Helvetica,Verdana,sans-serif;
	/* needed in awstats view */
	line-height: 29px;

	white-space: nowrap;
}

#eventAdminMenubar li.active a
{ 
	color: #eee;
}

#eventAdminMenubar li>a
{ 
	display: inline-block;
	padding-left: .7em;
	padding-right: .7em;
	border-right: 1px solid #333;
}

#eventAdminMenubar li:first-child>a
{ 
	border-left: 1px solid #333;
}

#eventAdminMenubar li.active a:hover,
#eventAdminMenubar li.inactive a:hover
{ 
	color: black;
	background-color: #eee;
}

#menubar-right-buttons
{
	position: absolute;
	right: 0;
	margin-right: 1em;
	display: inline-block;
	height: 29px;
	line-height: 29px;
}

#backupSiteWarning
{
	background-color: red;
	color: white;
	font-weight: bold;
}

