/* CSS common to all mobile pages (but not frontpage) */

/***********************************/
/* common */
/***********************************/
body
{
	min-width: 0;
}

#wrap
{
	margin: 0;
	width: auto;
}


#siteName
{
	color: $paletteFg;
	margin: 0;
	font-family: sans-serif;
	font-size: 1.3em;
}
#siteName a
{
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding-left: 4px;
	padding-top: .3em;
	padding-bottom: .3em;
}

@media all and (max-width: 400px)
{
#siteName.long-name
{
	font-size: 1.1em;
}
}

#main
{
	padding: 0;
}

