
.featured-select,
.featured-deselect
{
	position:absolute;
	padding: 0 2px;
	cursor: pointer;
	border: 1px solid black;
	background-color: #fee;
	z-index: 12;
}
.featured-select
{
	/* to avoid overflow:hidden; parents cannot be position: relative. */
	transform: translate(-15px, -19px);
}

.featured-select:hover,
.featured-deselect:hover
{
	background-color: #faa;
}

.featured-select
{
}

.featured-deselect
{
	font-size: 14px;
}
