
.demosphere-widget 
{
	<? if($options['text-color']!==false){?>
		color: <?= $options['text-color'] ?>;
    <?}?>
	<? if($options['text-size']!==false){?>
		font-size: <?= $options['text-size'] ?>;
    <?}?>
	font-family: sans-serif;
	padding: 2px;
}
.demosphere-widget h4 
{
	<? if($options['day-header-color']!==false){?>
		color: <?= $options['day-header-color'] ?>;
    <?}?>
	margin: 0; 
}
.demosphere-widget ul
{
	margin: 0em; 
	padding-left: 1.4em;
}

.demosphere-widget a.event
{
	<? if($options['text-color']!==false){?>
		color: <?= $options['text-color'] ?>;
    <?}else{?>
		color: black;
    <?}?>
	text-decoration: none;
}
.demosphere-widget .event:hover
{
	text-decoration: underline;
}
.demosphere-widget .date
{
	<? if($options['time-color']!==false){?>
		color: <?= $options['time-color'] ?>;
    <?}?>
}

.demosphere-widget .city
{
	<? if($options['city-color']!==false){?>
		color: <?= $options['city-color'] ?>;
    <?}?>
}
.demosphere-widget .extra-message
{
	<? if($options['extra-message-size']!==false){?>
		font-size: <?= $options['extra-message-size'] ?>;
    <?}?>
	font-style: italic;
}
.demosphere-widget .extra-message a
{
	text-decoration: none;
	color: inherit;
}
