.config-button,
#config-main-button,
.help-button,
#help-main-button,
#text-main-button
{
	cursor: pointer;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 22px;
	height: 22px;
}


.config-button,
#config-main-button
{
	background-image: url(@@svg_to_png('/demosphere/css/images/config.svg'));
	background-position: center center;
	background-repeat: no-repeat;
	background-color:  #ffde00;
	border: 1px solid #2e2e2e;
	box-shadow: 1px 1px 1px #000;
}

.config-button:hover,
#config-main-button:hover
{
	background-color: #ff5;
}

#config-main-button,
#help-main-button,
#text-main-button
{
	display: inline-block;
	vertical-align: middle;
	box-shadow: none;
	margin-bottom: 3px;
	margin-right: .5em;
}

.help-button,
#help-main-button
{
	background-color: #0e29ff;
	color: white;
	border: 1px solid white;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	line-height: 22px;
	font-size: 16px;
}
.help-button::after,
#help-main-button::after
{
	content: "?";
}
.help-button:hover,
#help-main-button:hover
{
	background-color: #66f;
}

.show-help #help-main-button,
.show-config #config-main-button
{
	box-shadow: 0 0 6px 3px white;
}

.eventAdmin.show-help #help-main-button.error,
.eventAdmin.show-config #config-main-button.error
{
	box-shadow: 0 0 6px 3px red;
}

#text-main-button
{
	background-color:  #a0f;
	border: 1px solid #aaf;
	color: white;
	line-height: 22px;
	font-weight: bold;
}
#text-main-button::after
{
	content: "T";
}

#edit-help
{
	margin: 0 .8em 0 .3em;
}

body .help-button,
body .config-button
{ 
	display:none;
}

.show-help .help-button,
.show-config .config-button
{ 
	display:block;
}

.help-button,
.config-button
{ 
	display:block;
	position: absolute;
	z-index: 100;
	overflow: hidden;
}
.config-button a
{
	display: block;
	width: 22px;
	height: 22px;
}

.demosphere-help-extra-button
{
	cursor: pointer;
	text-decoration: underline;
}

.demosphere_help_edit_link
{ 
	cursor: pointer;
	position: absolute;
	right: 60px;
	top: 5px;
}
.demosphere_help_page
{
	position: absolute;
	right: 10px;
	border: 4px solid white;
}

.help-dialog
{
	display: none;
	font-size: 14px;
}