/************** control panel ************/

body #main
{
	/* add some space at the bottom of the page, in case log popup overflow */
	padding-bottom: 200px;
}

.title-link
{ 
	margin-left: 10px;
	font-size: 11px;
	font-weight: normal;
	vertical-align:top; 
}

#panel-blocks
{ 
	clear: both;/* skip line after title */
}

#closed-blocks
{ 
	margin: 0;
	margin-bottom: 0px;
	min-height: .5em;
	text-align: right;
	position: relative;
	top: -5px;
}

/* hide the closed blocks bar when no events are closed */
#closed-blocks-bg:empty
{ 
	display: none;
}

#closed-blocks-bg
{ 
	background-color: #da8;
	display: inline-block;
	min-width: 40%;
	padding: 0px;
	border: 1px solid #b60;
}

.panel-block
{
	display: inline-block;
	vertical-align: top;
	border: 2px solid $paletteFg;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: #555 2px 2px 2px;
	-webkit-box-shadow: #555 2px 2px 2px;
	box-shadow: #555 2px 2px 2px;
	background-color: white;
	margin: .2em;
	padding: 0;
}

.panel-block.closed
{ 
	width: auto !important; /*  override style="width:..." */
	height: auto !important;
	margin-left: 2px;
	margin-right: 2px;
	background-color: #bbb;
}
/* closed panel blocks don't display contents */
.panel-block.closed .panel-block-contents
{ 
	display: none;
}

.panel-block-title
{ 
	margin: 0;
	background-color: #eee;
	font-size: 15px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: .2em;
	border-bottom: 1px solid #aaa;
	position: relative;
}
.panel-block.closed .panel-block-title
{
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-bottom: none;
	background-color: #bbb;
	font-size: 13px;
}

/* closed panel blocks don't display buttons */
.panel-block.closed .buttons
{
	display:none;
}

.panel-block-title .buttons
{
	position: absolute;
	right: 3px;
}
.panel-block-title .buttons a
{ 
	background-color: transparent;
	color: #eeaa77;
	margin-left: .5em;
	text-decoration: none;
}
.panel-block-title .buttons a:hover
{
	background-color: #ff0;
}

.panel-block-contents
{
	padding: .3em;
	overflow: hidden;
	clear: both;
}
.panel-block-contents p:first-child,
.panel-block-contents ul:first-child
{
	margin-top: 0;
}

.panel-block-contents p:last-child
{
	margin-bottom: 0;
}
.panel-block-contents p
{
	margin: .5em 0;
}
.panel-block-contents ul
{
	margin: .5em 0;
}

/************************ tag generated contents ***********************/

.panel-block-contents .warning
{ 
	color: red;
}

.panel-block-contents .recent-user
{
	font-weight: bold;
}

.panel-block-contents .role-1,
.panel-block-contents .role-2
{
	background-color: #e2f098;
}

@media all and (max-width: 850px)
{
.recent-changes,.most-viewed-block
{
	width: 95vw !important;
}
#wrap .recent-changes-table td,
#wrap #panelEventList td
{
	white-space: normal;
}

}

.recent-changes-table
{
	border-collapse: collapse;
}
.recent-changes-table tr
{
	border-bottom: 1px solid #ccc;
}
.recent-changes-table td
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	padding: .05em .3em;
}
.recent-changes-table .log
{
	padding: 0;
}

.recent-changes-table .log .button
{
	text-decoration: none;
	border: 1px solid #aaa;
	color: #aaa;
	cursor: pointer;
}

.recent-changes-table .log .button:hover
{
	background-color: #ffa;
}

.recent-changes-table .log .contents
{ 
	display:none;
	position: absolute;
	background-color: #aaa;
	border: 1px solid black;
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	z-index: 5;
}

.recent-changes-table .log.open .contents
{
	display: block;
}

.recent-changes-table tr.Post td.log .button
{
	display: none;
}

.event-log
{
}
.event-log td
{
	vertical-align: top;
	white-space: normal;	
}
.event-log td:nth-child(1),
.event-log td:nth-child(2),
.event-log td:nth-child(3),
.event-log td:nth-child(4),
.event-log td:nth-child(5)
{
	padding: 0;
	color: #400;
}

.event-log td:nth-child(6)
{
	max-width: 6em;
	overflow: hidden;
}

.recent-changes-table .title
{
	max-width: 600px;
	padding-left: .3em;
}

.recent-changes-table .title a
{ 
	text-decoration: none;
	color: black;
}
.recent-changes-table .title a:hover
{ 
	text-decoration: underline;
}

.recent-changes-table .odd
{
	background-color: #eef;
}

.recent-changes-table .even
{
	background-color: #eee;
}

.recent-changes-table .date
{
	padding-left: .3em;
}
.recent-changes-table .username
{
	max-width: 90px;
	overflow: hidden;
}

.recent-changes .pager-label
{
	display: none;
}


.panel-block-contents ul
{ 
	padding-left: 20px;
}

.panel-block.user-activity td:nth-child(1)
{ 
	max-width: 130px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.panel-block.user-activity td:nth-child(2)
{ 
	max-width: 60px;
	white-space: nowrap;
	overflow: hidden;
	padding-left: .3em;
	text-overflow:ellipsis;
}

@media all and (max-width: 450px)
{
#panelEventList td:nth-child(2),
#panelEventList td:nth-child(3),
#panelEventList td:nth-child(7)
{
	display: none;
}
}

.awstats
{
	margin-right: 1em;
}

#panel-stats-summary span
{
	margin-right: .8em;
}

#panelEventList
{
	border-collapse: collapse;
}
#panelEventList tr.oldEvent
{
	background-color: #ccc;
}

#panelEventList td
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

#panelEventList td:nth-child(1)
{
	color: #555;
	text-align: right;
}

#panelEventList td:nth-child(2)
{
	color: #400;
	font-weight: bold;
	padding-right: 2px;
	text-align: right;
}

#panelEventList td:nth-child(3)
{
	border-left: 1px solid #eee;
	padding-left: 5px;
}
#panelEventList td:nth-child(4)
{
	text-align: right;
}

.pager
{
	font-size: 10px;
}

.pager select
{
	font-size: 10px;
}

/************************ custom blocks  ***********************/
/* class names are added with dpr_block(... ,class=xyz,...) */

.panel-block.admin
{ 
	background-color: #ddf;
}

.panel-block.user-activity
{  
	background-color: #e4dc98;
}


.forum-line1
{
	white-space: nowrap;	
	overflow: hidden;
	text-overflow:ellipsis;
}

/* Creates line break on Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
.forum-line1
{
	overflow: visible;
}
}
.forum-username
{
	vertical-align: middle;
	overflow: hidden;
	text-overflow:ellipsis;
	color: black;
	text-decoration: none;
}
.forum-subject
{
	font-style: italic;
	margin-left: 10px;
	display: inline-block;
	max-width: 212px;
	max-height: 2.3em;
	overflow: hidden;
}

.forum-subject a
{
	text-decoration: none;
	color: #888;
}

.forum-username:hover,
.forum-subject a:hover
{
	text-decoration: underline;
}
