
/* we need to set the width of inline elements */
a.meditable.editing,
span.meditable.editing,
strong.meditable.editing,
em.meditable.editing
{
	display: inline-block;
}

.meditable-placeholder
{
	color: #888;
}

#meditable-error
{
	position: absolute;
	background-color: white;
	border: 2px solid red;
	width: 300px;
	display: none;
	z-index: 15;
	box-shadow:	4px 4px #aaa;
	cursor: pointer;
}
#meditable-error:hover
{
	background-color: #ffe;
}
#meditable-error p
{
	margin: .5em;
}

/* temp div added at end of doc, while waiting for ajax response during close */
.meditable-waiting
{
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url(images/waiting.gif);
	z-index: 10;
}
