/*  article specific css, dcitem css is in dcomponent-common.css  */

.article
{ 
    background-color: @@mix($feedColor,'#ffffff',20);
}

.article.bad
{ 
    background-color: #faa;
}

.article .pubdate.old-date
{
    background-color: #f7b;
}



/************ Title line **************/

.article .title-line 
{
    background-color: $feedColor;
	@@linear_gradient("to bottom",@@desaturate(@@lighten($feedColor,10),35),'0%',$feedColor,'30%');
}

.article.bad .title-line 
{
    background-color: red;
    background: -moz-linear-gradient(#fff,#f00 30%);
	@@linear_gradient("to bottom","#fff",'0%',"#f00",'30%');
}


/************ Other top lines **************/


/************ Left info **************/

.article .info-left li.feedname
{
    margin: 0;
}

.article .feedname a
{ 
    color: black;
    font-weight: bold;
    font-size: 14px;
    display: block;
    padding: .6em 0;
    border: 1px solid #aaa;
    background-color: #ccf;
    text-decoration: none;
	word-wrap: break-word;
}

.article .feed-comment
{ 
	display: block;
	font-weight: normal;
	font-size: 11px;
}

.article .feedname
{ 

}

.article .feedname a:hover
{
    text-decoration: underline;    
}

.article .lastFetched::before
{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: @@sprite_width('download.svg')px;
	height: @@sprite_height('download.svg')px;
	background-image: url(@@sprite('download.svg'));
	background-position: @@sprite_bgpos('download.svg');
}

.article .alink a 
{
	display: inline-block;
	padding: .2em;
	background-color: rgba(255,255,255,.5);
	width: 20px;
}

.article .alink a:hover
{
	background-color: rgba(0,0,0,.05);
}

.article .alink a::before
{
	content: '';
	display: inline-block;
	width: @@sprite_width('external-link.svg')px;
	height: @@sprite_height('external-link.svg')px;
	background-image: url(@@sprite('external-link.svg'));
	background-position: @@sprite_bgpos('external-link.svg');
	vertical-align: middle;
}

.article .reset a
{
	display: inline-block;
	width: @@sprite_width('refresh.svg')px;
	height: @@sprite_height('refresh.svg')px;
	background-image: url(@@sprite('refresh.svg'));
	background-position: @@sprite_bgpos('refresh.svg');
}
