/* ********* list ************ */


.source-code-comments
{
	margin: 1em 0;
	white-space: pre;
	max-height: 4em;
	max-width: 800px;
	overflow-y: auto;
}

.dbobject-ui-list-wrapper
{
	overflow-x: auto;
	position: relative;
}

.dbobject-ui-list
{
}
.dbobject-ui-list td
{
}

.dbobject-ui-list .longtext
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.dbobject-ui-list.use-popup .dbd:hover
{
	cursor: pointer;
	background-image: url(tiny-plus.png);
	background-repeat: no-repeat;
	background-position: top 2px right 2px;
}

.dbobject-ui-edit label
{
	display: inline-block;
	min-width: 200px;
}

/* ********* view ************ */

.dbobject-ui-view dd.description
{
	color: #888;
	font-style: italic;
	font-size: 13px;
	margin-left: 3em;
	margin-top: .05em;
	margin-bottom: .3em;
}

.dbobject-ui-view
{
    list-style-type: none;
    border: 1px solid #ccc;
	margin: 1em;
	padding: 0;
}
.dbobject-ui-view>li
{
	margin: 0em;
    border-bottom: 1px solid #ccc;
	padding: .2em;
}
.dbobject-ui-view>li:last-child
{
	border-bottom: none;
}
.dbobject-ui-view>li>.title
{
	display: inline-block;
	min-width: 10em;
	font-weight: bold;
	vertical-align: top;
}
.dbobject-ui-view>li>.display
{
	display: inline-block;
	
}
.dbobject-ui-view>li>.description
{
	color: #888;
	font-style: italic;
	margin-left: 3em;
	margin-top: .3em;
}
.dbobject-ui-view button.expand
{
	font-size: 10px;
	padding: 0;
}
.dbobject-ui-view .expanded
{
	max-width: 1000px;
	background-color: #eef;
	overflow: auto;
	padding: .5em;
}
.dbobject-ui-view .expanded pre
{
	margin: 0;
}

/* ********* edit ************ */

.dbobject-ui-edit .form-item
{
	border-bottom: 1px solid #ccc;	
	margin-bottom: .5em;
	padding-bottom: .5em;
}

.dbobject-ui-edit .form-item label
{
	font-weight: bold; 
	display: inline-block;
	min-width:200px;
	vertical-align: top;
}


.dbobject-ui-edit .description
{
	color: #888;
	font-style: italic;
	margin-left: 3em;
	margin-top: .3em;
}


colgroup
{
	background-color: red;
	color: green;
	font-weight: bold;
}

.dbobject-ui-popup
{
	position: absolute;
	width: 400px;
	max-height: 400px;
	overflow: auto;
	background-color: #ffa;
	box-shadow: 2px 2px 2px #666;
	padding: .2em;
	border: 1px solid #aa5;
}