
.dropdown
{
	display: inline-block;
	text-align: left;
}

.dropdown-button
{
	display: inline-block;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
    border-radius: 3px;
	cursor: pointer;
	padding: 0 .5em;
	white-space: nowrap;
}

.dropdown.open .dropdown-button
{
	border-bottom-color: #f2f2f2;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.dropdown-button:hover
{
	background-color: #eaeaea;	
}

.dropdown.open .dropdown-button:hover
{
	background-color: #f2f2f2;
}

.dropdown.empty .dropdown-button>span
{
	visibility: hidden;
}

.dropdown .dropdown-button::after
{
	content: '▾';
	margin-left: .4em;
	display: inline-block;
	vertical-align: top;
	line-height: 15px;
	padding-top: 4px;
}

.dropdown ul
{
	display: none;

	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0px;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #f2f2f2;
	z-index: 10;
	width: ;
	box-shadow: 2px 2px 3px rgba(0,0,0,.4);
	border-left: 1px solid #ccc;
	white-space: nowrap;
}

.dropdown.open ul
{
	display: inline;
}

.dropdown li
{
	line-height: normal;
}

.dropdown li>a
{
	display: block;
	text-decoration: none;
	padding: 6px 1em;
	color: black;
}

.dropdown li.disabled>a
{
	color: #666;
}

.dropdown li>a:hover
{
	color: #a00;
}

.dropdown li.disabled>a:hover
{
	color: #666;
}

