
.hdiff-main
{
	clear: both;
	position: relative;
	background-color: white;
}

.hdiff-tinymce-toolbar
{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 20px;
}

.hdiff-tinymce-toolbar.fixed
{
	position: fixed;
	top: 0;
}


.hdiff-col.needs-save .hdiff-editor-tools .save
{
	background-color: yellow;
}

.hdiff-editor-tools .save
{
	position: absolute;
	right: 0px;
	padding: 3px;
	z-index: 2;
	box-shadow: -1px 0 1px rgba(0,0,0,.2);
}
.hdiff-editor-tools .save>span
{
	display: block;
	width: 16px;
	height: 22px;
	background-image: url(save.png);	
}

.copy-button
{
	display: none;
	position: absolute;
	background-color: yellow;
	z-index: 3;
	width: 15px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	text-align: center;
}

.copy-button:hover
{
	background-color: orange;
	cursor: pointer;
}

.copy-button-0::before
{
	content: '>';
	padding: .2em;
}
.copy-button-1::before
{
	content: '<';
}

.hdiff-canvas
{
	position: absolute;
	left: 0;
	z-index: 0;
}

.hdiff-col
{
	position: relative;
	z-index: 1;
	float: left;
    box-sizing: border-box;
	width: 50%;
	overflow: hidden;
}

.hdiff-col-inner
{
	border: 1px solid #999;
	border-radius: 2px;
	overflow: hidden;
}


.hdiff-col-0
{
	padding-right: 35px;
}

.hdiff-col-1
{
	padding-left: 35px;
}

.hdiff-col-top
{
	background-color: rgba(0,0,0,.07);
}

.hdiff-title
{
	overflow: hidden;
	background-color: #eee;
	height: 30px;
	box-shadow: 0 1px rgba(0,0,0,.3);

	margin: 0;
	padding: 0 .5em;
	font-size: 120%;
	line-height:  30px;
}

.hdiff-editor-tools
{
	display: none;
}


.hdiff-col.editable .hdiff-editor-tools
{
	display: block;
	height: 32px;
	background-color: #ccc;
	background: none;	
}

.hdiff-col.editable .hdiff-html-inner
{
	line-height: normal; /* Tinymce sets line-height, reset it to normal */
}

.hdiff-col.focused .hdiff-tools-msg
{
	display: none;
}

.hdiff-col .hdiff-tools-msg
{
	display: block;
	text-align: center;
	color: #777;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}

.hdiff-html
{
	overflow: hidden;
}

.hdiff-html-0
{
}

.hdiff-html-1
{
    overflow: hidden;
}

.hdiff-html-cursor
{
	position: absolute;
	display: none;
	width: 12px;
	height: 20px;
	background-color: green;
	z-index: 3;
	cursor: move;
}

.hdiff-html-spacer
{
	background-color: rgba(0,0,0,.05);
}

.hdiff-html-inner
{
	position: relative; /* tinymce auto adds this, but we need for cases where no tinymce */
	direction: ltr;
	overflow: hidden; /* avoid margin overflow that merges with top margin and breaks computations */
	padding: 7px;
}

.hdiff-html-inner img
{
	max-width: 80%;
	height: auto;
}

.hdiff-html-inner>*:first-child
{
	margin-top: 0;
}

.hdiff-html span.tms
{
	color: #444 !important;
}

.hdiff-html span.tms.d,
.hdiff-html span.tms.bd
{
    color: #e04 !important;
}
.hdiff-html span.tms.d
{
	/*color: black;*/
}


.hdiff-html span.tms.m
{
	color: black;
}
.hdiff-html span.tms.closest
{
	background-color: #fd0;
}


.hdiff-html .selected
{ 
    background-color: #ff0;
}


.ignore-case
{
	position: absolute;
	z-index: 3;
	top: 0px;
	right: 50%;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}