#translations
{
	border-collapse: collapse;
}
#translations thead tr
{
	background-color: #eef;
}
#translations thead tr th
{
	border-bottom: 1px solid black;
}


#translations td,#translations th
{
	border: none;
	padding-left: 0.2em;
    padding-right: 0.2em;
}
#translations tr 
{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}
#translations tr:hover
{
	background-color: #f7f7f7;
    border-bottom: 1px solid black;
}
#translations td a
{
	text-decoration: none;
	color: black;
	display: block;
}
#translations span.unchanged
{
	color: #999;
}

#translations td strong
{
	color: #a00;
}


/* ******** translation-edit **** */
#translation-edit h3
{
	margin-bottom: 5px;
}
#translation-edit textarea
{
	width: 50%;
	margin-left: 20px;
}
