
body, html 
{
	height: 100%;
}
body #main
{
	padding-bottom: 0;
}

#fetch-page-output
{ 
    max-height: 300px;
    overflow-y: auto;
}

.main-help
{
	font-size: 13px;
	font-style:  italic;
	color: #666;
	margin: .2em;
	margin-bottom: .4em;
	margin-top: 0;
}



/* ******* tabs ********** */

#tab-selector h4
{ 
    margin: .2em .3em;
}

#tabs 
{
    margin: 0;
}
.tab-body
{
    display:none;
    border: 1px solid black;
    background-color: #eef;
}
.tab-body.active
{
    display:block;    
}

#tabs li
{ 
    display: inline;
    border: 1px solid black;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    margin: 0 .3em;
    background-color: grey;
}
#tabs li.active
{ 
    background-color: #eef;
    border-bottom: 1px solid #eef;
}
#tabs li a
{ 
    text-decoration: none;
    color: black;
    padding: .1em 2em;
}

/* ******* array of arrays selector edit form ********** */

#selector-form
{
}

#edit-selector-wrapper
{
	margin: 0;
}

div.aofa
{
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.closed-aofa div.aofa
{
	display: none;
}

.aofa-table
{
	display: inline-block;
}

.aofa-table td:nth-child(5),
.aofa-field-arg
{ 
    white-space: pre;
    font-family: monospace;
}
.aofa-form-items
{
	display: block;
}
.aofa-row-form 
{
	/*position: absolute;
	top: 140px !important;
	left: 30px !important;*/
}

.aofa-row-form li
{ 
    position: relative;
    display: inline;
    margin-right: 2em;
}
.aofa-form-items>li>label
{
	display: inline;
    padding-right: .5em;
	font-weight: bold;
	display: none;
}
.aofa-form-items>li>span
{
	display: inline;
}


body .aofa-new-row-button
{
	vertical-align: 90%;
	margin-left: 20px;
}

/* ******* other selector form items ********** */

#open-selector-aofa
{
	float: left;
	height: 12px;
	width: 12px;
	line-height: 12px;
	text-align: center;
	margin-top: 3px;
	margin-left: 3px;
	cursor: pointer;
	background-color: white;
	padding: 3px;
	padding-right: 4px;
	border-radius: 4px;
	box-shadow: 0 0 2px black;
}
#open-selector-aofa:hover
{
	background-color: yellow;
}

#current-and-button
{
	height: 32px;
}
#current-selector
{
    display: inline-block;
	min-width: 20em;
	min-height: 15px;
	border: 1px solid black;
	padding: 2px;
	padding-left: 15px;
	margin-left: 30px;
	margin-top: 3px;
	margin-bottom: 8px;
	box-shadow: 3px 3px 5px black;
	background-color: #efe;
}
#current-selector.error
{
	color: red;
}

#current-selector.waiting
{ 
    background-image: url(../docconvert/waiting.gif);
	background-repeat: no-repeat;
}

.form-submit-buttons
{
	display: inline-block;
	margin: 0;
	margin-left: 3em;
	vertical-align: middle;
}
.form-submit-buttons .form-item
{
	margin: 0;
}

input[name="save-selector"]
{
	color: #a00;
}


/* ******* frames ********** */

iframe
{ 
    width: 100%;
	background-color: white;
	display: block;
}

.raw-html
{
	background-color: #ffc;
	white-space: pre-wrap;
    font-family: monospace;
}

