#demos-sel-display
{
	position: fixed;
	top:0;
	right:0;
	width: 100%;
	z-index: 2147483647;/* max int necessary for overblog share bar :-( */
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-align: right;
	line-height: normal;
}
#demos-sel-display #demos-path-parts
{
	font-size: 12px;
	display:inline-block;
	background-color: green;
	border: 1px solid #afa;
	margin-right: 5px;
	box-shadow: 3px 3px 5px black;
	max-width: 85%;
	overflow-x: auto;
	white-space: nowrap;
	text-shadow: 1px 1px 1px black;
	font-family: sans-serif;
}
#demos-sel-display .demos-path-part
{
	display:inline-block;
	padding: 4px 5px;
	border-right: 1px solid black;
	max-width: 180px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
}
#demos-sel-display .demos-path-part:hover
{
	background-color: #afa;	
}
#demos-sel-display .demos-path-part.selected
{
	background-color: #8d8;	
}

#demos-sel-display .demos-path-id
{
	color: #faa;
}

#demos-sel-display .demos-path-class
{
	color: #aff;
}


#demos-sel-display a.grow,
#demos-sel-display a.shrink
{
	color: #500;
	display:inline-block;
	background-color: #0f0;
	padding: 4px;
	border: 1px solid #060;
	border-radius: 8px;
	box-shadow: 3px 3px 5px black;
	cursor: pointer;
	vertical-align: top;
}
#demos-sel-display a.grow:hover,
#demos-sel-display a.shrink:hover
{
	background-color: #7d7;
}

.demos-sel-box
{
	position: absolute;
	border: 1px solid red;
	background-color: yellow;
	width: 1px;
	height: 1px;
	z-index: 8000;
}

.demos-selected-box
{
	border: 1px solid green;
	z-index: 8100;
	background-image: url(/demosphere/html-selector/walking-ants-border3.gif);
	background-clip: padding-box;
}

[class*="demos-selected-multiple-"]
{
	border: 1px solid yellow;
	z-index: 7900;
	background-image: url(/demosphere/html-selector/walking-ants-border3.gif);
	background-clip: padding-box;
}
