

.htmleditor-textarea
{
	min-height: 280px;
}

#wrap .mce-tinymce
{
	margin-right: 181px; /* room for area-right / doc menu */
	position: relative;
	max-width: 1500px;
}

#wrap .htmleditor-area-right
{ 
	position: absolute;
	z-index: 4;
	top:0;
	right: -181px;
    width: 180px;
	background-color: #f0f0ee;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	overflow: hidden;
}

body .htmleditor-area-right *
{
    font-size: 12px;
}

#wrap .htmleditor-area-right>div
{
    margin-bottom: 20px;
}

#wrap .htmleditor-area-right>div:last-child
{
    margin-bottom: 0;
}

#wrap .htmleditor-area-right ul
{
	padding-left: 5px;
}

#wrap .htmleditor-area-right li
{  
    list-style:none outside none;
    margin:0;
    padding: 0;
    line-height: 200%;
}

#wrap .htmleditor-area-right li a
{
    display: block;
	line-height: 200%;
}
#wrap .htmleditor-area-right li span
{
	display: inline-block;
	line-height: 200%;
}



#wrap .htmleditor-area-right li a:hover,
#wrap .htmleditor-area-right .docconvert-command:hover
{ 
    background-color: yellow;
	cursor: pointer;
}

#wrap .htmleditor-area-right span.docconvert-command
{
	padding: 0 .5em;
	display: inline-block;
}
#wrap .htmleditor-area-right span.docconvert-command:first-child
{
	padding: 0;
}

#wrap .htmleditor-area-right h2,
#wrap .htmleditor-area-right h2 span
{
    font-size: 16px;
	color: black;	
	text-shadow: #fff -1px -1px 1px;
    font-weight: bold;
}
#wrap .htmleditor-area-right h2
{
    background-color: #ddd;
    border: 1px solid gray;
    padding: 0;
}

#wrap .image-menu li
{
	line-height: normal;
	margin-bottom: 8px;
	white-space: normal;
}

#wrap .image-menu li a
{
	white-space: normal;
}

#wrap .mce-path
{
	padding-top: 0;
	padding-bottom: 0;
}
#wrap .mce-path-item
{
	color: #666;
}

body .mce-btn button
{
	padding: 3px 5px;
	height: 26px; /* 20 + 2*3 : force height, images will overflow, but that's ok */
}

/* Fix tinymce caret position problem */
body .mce-btn button .mce-caret
{
	right: -5px;
}

/* Fix tinymce dropdown menu color problem */
body .mce-menu-item-normal.mce-active .mce-text,
body .mce-menu-item-normal.mce-active:hover .mce-text,
body .mce-menu-item:hover .mce-text
{
	color: #333;
}
/* larger icons so that images fit */
body .mce-ico
{
	height: 22px;
}
body .mce-btn-group
{
	margin-right: 3px;
}

#wrap .demosphere-htmledit-button
{
	position: relative;
	top: -3px;
	/* fix : tiny mce changes size */
	background-size:  auto auto;
}
#wrap .mce-i-bighr
{
	background-image: url(@@sprite('button-bighr.png'));
	background-position: @@sprite_bgpos('button-bighr.png');
	width: @@sprite_width('button-bighr.png')px;
	height: @@sprite_height('button-bighr.png')px;
}
#wrap .mce-i-smallhr
{
	background-image: url(@@sprite('button-smallhr.png'));
	background-position: @@sprite_bgpos('button-smallhr.png');
	width: @@sprite_width('button-smallhr.png')px;
	height: @@sprite_height('button-smallhr.png')px;
}
#wrap .mce-i-downcase
{
	background-image: url(@@sprite('button-downcase.svg'));
	background-position: @@sprite_bgpos('button-downcase.svg');
	width: @@sprite_width('button-downcase.svg')px;
	height: @@sprite_height('button-downcase.svg')px;
}
#wrap .mce-i-upcase
{
	background-image: url(@@sprite('button-upcase.svg'));
	background-position: @@sprite_bgpos('button-upcase.svg');
	width: @@sprite_width('button-upcase.svg')px;
	height: @@sprite_height('button-upcase.svg')px;
}

#wrap .mce-i-tidy
{
	background-image: url(@@sprite('button-tidy.png'));
	background-position: @@sprite_bgpos('button-tidy.png');
	width: @@sprite_width('button-tidy.png')px;
	height: @@sprite_height('button-tidy.png')px;
}
#wrap .mce-i-linecleanup
{
	background-image: url(@@sprite('button-linecleanup.svg'));
	background-position: @@sprite_bgpos('button-linecleanup.svg');
	width: @@sprite_width('button-linecleanup.svg')px;
	height: @@sprite_height('button-linecleanup.svg')px;
}
#wrap .mce-i-linewrapcleanup
{
	background-image: url(@@sprite('button-linewrapcleanup.svg'));
	background-position: @@sprite_bgpos('button-linewrapcleanup.svg');
	width: @@sprite_width('button-linewrapcleanup.svg')px;
	height: @@sprite_height('button-linewrapcleanup.svg')px;
}
#wrap .mce-i-listcleanup
{
	background-image: url(@@sprite('button-listcleanup.svg'));
	background-position: @@sprite_bgpos('button-listcleanup.svg');
	width: @@sprite_width('button-listcleanup.svg')px;
	height: @@sprite_height('button-listcleanup.svg')px;
}
#wrap .mce-i-imageright
{
	background-image: url(@@sprite('button-imageright.svg'));
	background-position: @@sprite_bgpos('button-imageright.svg');
	width: @@sprite_width('button-imageright.svg')px;
	height: @@sprite_height('button-imageright.svg')px;
}
#wrap .mce-i-paragraphright
{
	background-image: url(@@sprite('button-paragraphright.svg'));
	background-position: @@sprite_bgpos('button-paragraphright.svg');
	width: @@sprite_width('button-paragraphright.svg')px;
	height: @@sprite_height('button-paragraphright.svg')px;
}

#wrap .mce-i-dtoken
{
	background-image: url(@@sprite('button-dtoken.png'));
	background-position: @@sprite_bgpos('button-dtoken.png');
	width: @@sprite_width('button-dtoken.png')px;
	height: @@sprite_height('button-dtoken.png')px;
}

.mce-branding,
.mce-branding-powered-by
{
	display: none !important;
}

/* *********** dtoken popup in html editor ********* */
/* This is needed in both event edit and other node types edit */

#dtoken-popup
{
	position: absolute;
	width: 500px;
	background-color: white;
	padding: .5em;
	border: 1px solid black;
	-moz-box-shadow: #555 10px 10px 10px;
	-webkit-box-shadow: #555 10px 10px 10px;
	box-shadow: #555 10px 10px 10px;
	z-index: 10;
	overflow-y: auto;
	max-height: 400px;
}

#dtoken-popup dt
{
	display: inline-block;
	margin-top: 5px;
	cursor: pointer;
	background-color: #fee;
	color: #900;
	border: 1px solid black;
	padding: 2px 6px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	@@linear_gradient("to bottom",'#fff','0%','#ddd','50%');
}
#dtoken-popup dt:hover
{
	color: red;
	background-color: #faa;
}

/* Keyboard shortcut texts in formats menu of tinymce */
/* Note: the formatselect-menu class is hackishly added by us in js, since tinymce does not provide a class :( */
.eventAdmin .formatselect-menu .mce-menu-item::after
{
	font-size: 10px;
	color: #aaa;
	position: absolute;
	right: 2px;
}

.eventAdmin .formatselect-menu .mce-menu-item:nth-child(1)::after
{
	content: '<?= t('ctrl+shift') ?>-1';
}
.eventAdmin .formatselect-menu .mce-menu-item:nth-child(2)::after
{
	content: '<?= t('ctrl+shift') ?>-2';
}
.eventAdmin .formatselect-menu .mce-menu-item:nth-child(3)::after
{
	content: '<?= t('ctrl+shift') ?>-3';
}
.eventAdmin .formatselect-menu .mce-menu-item:nth-child(4)::after
{
	content: '<?= t('ctrl+shift') ?>-4';
}
