

#page-dowload-errors
{ 
    background-color: red;
}

.pageChangeHeader
{ 
    background-color: #ccf;
}
tr.odd
{ 
    background-color:#eee;
}
tr.even
{ 
    background-color:#eef;
}

div.unassigned
{ 
    background-color: #88f;
}
table.pageDiff
{  
    width:100%
}
table.pageDiff td
{  
    width:50%
}

table img.deleteEnd
{ 
    float: right;
}
#revisionChooser
{
    background-color: #fef;
}

/* ********** page watch specific dcitem ************ */

.dcitem.page
{
    background-color: #eef;
}

.page .title-line 
{
    background-color: $feedColor;
    background: -moz-linear-gradient(#a9f,$feedColor 30%);
}

.page.dcitem iframe
{ 
    height : 20em;    
}
.page.dcitem .info-left
{ 
    min-height: 20em;
}

/* ********** ?? ************ */
#html-content-selector-frame
{ 
    width:80%;
    height: 20em;
    margin-left: 5em;
    border: 1px solid black;
}
#displayPage
{ 
    width : 90%;    
    right: 0em;
    background-color: white;
    width : 90%;    
    height : 30em;    
    display: block;
    margin:1em;
    border: 1px solid black;
}

.badpage
{ 
    background-color: red;
}

#page-html-diffs
{ 
    width: 100%;
}
#page-html-diffs td,#page-html-diffs th
{ 
    width: 50%;
    border: 1px solid black;
}

